##  Steel Dynamics Sustainability: Executive Level Benchmarking & Future Strategies

## Stage 1. Problem Definition and Business Understanding

The Steel Dynamics board seeks to enhance their environmental, social, and governance (ESG) performance and manage risks. They need insights on: (1) their current ranking within the U.S. steel industry, (2) which key performance indicators (KPIs) will deliver the most tangible and intangible benefits, and (3) requirements for becoming a leader in the industry. As a data-driven problem solver specializing in sustainability, you will provide detailed insights to guide leadership decisions.

## Stage 2. Data Aquisition

This project utilizes a comprehensive synthetic dataset for the steel industry, including ESG and financial attributes for four major steel companies (Nucor, US Steel, Cleveland Cliffs, and Steel Dynamics) over a 15-year period from 2010 to 2024. It is available in this Jupyter Lab environment. Use: Datasets/Steel_Industry_Data.csv

In [1]:
#Import all libraries
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore', category=FutureWarning)

import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels.tools.tools as smt
from sklearn.linear_model import LassoCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression

print("Finished")

Finished

In [2]:
#Convert csv to pandas dataframe 
file_path = "Steel_Stage_2.csv"
df = pd.read_csv(file_path)

print("DataFrame ready")

DataFrame ready

In [3]:
#Verify the DataFrame
df.head()

,Company,Year,Revenue_Million,Operating_Costs_Million,Net_Income_Million,Stock_Price,Market_Capitalization_Million,R&D_Expenditure_Million,Sustainability_Investments_Million,Sustainability_Investments_Per_Employee,...,Veteran_Workforce_Percent,Disabled_Workforce_Percent,Community_Volunteer_Hours_Per_Employee,ESG_Score_Average,Board_Independence_Percent,Board_Percent_Female,Board_Percent_Minority,Board_Age_Avg,Anti_Corruption_Incidents,Whistleblower_Cases
0,Nucor,2010,24619.67,19587.40,5032.28,37.78,16560.85,256.33,1016.25,0.06,...,11.63,4.56,6.73,60.95,75.60,26.40,14.62,60.22,0,0
1,US Steel,2010,16214.98,13226.16,2988.82,24.78,10335.78,207.85,503.38,0.02,...,13.96,5.38,11.59,60.86,64.18,28.13,23.50,59.74,0,1
2,Cleveland Cliffs,2010,19557.67,16147.86,3409.81,28.73,9482.10,541.07,420.23,0.02,...,7.40,3.72,7.95,59.48,74.68,39.57,16.05,61.43,0,1
3,Steel Dynamics,2010,13559.25,11011.17,2548.08,23.71,11508.66,140.09,273.81,0.01,...,13.47,7.28,9.84,59.69,85.53,38.07,29.63,57.32,0,0
4,Nucor,2011,26198.08,23039.79,3158.29,33.54,13372.77,454.00,939.47,0.06,...,13.53,4.47,9.43,61.28,71.55,35.53,17.92,58.64,1,0

## Stage 3. Data Preparation and Pre-Processing

This stage involves cleaning the data to address missing values and errors. Data transformation and dimensionality reduction will be postponed until after Stage 4 to maintain the interpretability of each attribute.

In [4]:
#Identify missing values and correct data types
df.info()
df['Company'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 48 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Company                                               60 non-null     object
 1   Year                                                  60 non-null     int64
 2   Revenue_Million                                       60 non-null     float64
 3   Operating_Costs_Million                               60 non-null     float64
 4   Net_Income_Million                                    60 non-null     float64
 5   Stock_Price                                           60 non-null     float64
 6   Market_Capitalization_Million                         60 non-null     float64
 7   R&D_Expenditure_Million                               60 non-null     float64
 8   Sustainability_Investments_Million                    60 non-null     float64
 9   Sustainability_Investments_Per_Employee               60 non-null     float64
 10  Biodiversity_Specific_Investments_Million             60 non-null     float64
 11  Biodiversity_Specific_Investments_Per_Employee        60 non-null     float64
 12  Community_Engagement_Spending_Million                 60 non-null     float64
 13  Community_Engagement_Spending_Per_Employee            60 non-null     float64
 14  Total_Energy_Consumption_MWh                          60 non-null     float64
 15  Energy_Intensity_kWh_Per_Ton_Steel                    60 non-null     float64
 16  Energy_Consumption_From_Renewables_Percent            60 non-null     float64
 17  Recycled_Steel_Used_Percent                           60 non-null     float64
 18  Total_Water_Usage_Megaliter                           60 non-null     float64
 19  Water_Recycled_Percent                                59 non-null     float64
 20  Water_Intensity_Kiloliter_Per_Ton_Steel               60 non-null     float64
 21  Waste_Recycled_Percent                                60 non-null     float64
 22  CO2_Emissions_Tonnes                                  60 non-null     float64
 23  NOx_Emissions_Tonnes                                  59 non-null     float64
 24  SOx_Emissions_Tonnes                                  60 non-null     float64
 25  Total_CO2_Equivalent_Emission_Tonnes                  60 non-null     float64
 26  Scope1_CO2_Equivalent_Emissions_Tonnes                60 non-null     float64
 27  Scope2_CO2_Equivalent_Emissions_Tonnes                60 non-null     float64
 28  Scope3_CO2_Equivalent_Emissions_Tonnes                60 non-null     float64
 29  GHG_Intensity_CO2_Equivalent_Emissions_Per_Ton_Steel  60 non-null     float64
 30  Regulation_Noncompliance_Air_And_Water_Incidents      60 non-null     int64
 31  Employee_Turnover_Rate_Percent                        60 non-null     float64
 32  Employee_Training_Hours_Per_Employee                  60 non-null     float64
 33  Median_Employee_Pay_Nonexecutive                      60 non-null     float64
 34  Injury_Rate_Per_100_Employees                         59 non-null     float64
 35  Significant_Accidents_Count                           60 non-null     int64
 36  Female_Workforce_Percent                              60 non-null     float64
 37  Minority_Workforce_Percent                            60 non-null     float64
 38  Veteran_Workforce_Percent                             60 non-null     float64
 39  Disabled_Workforce_Percent                            60 non-null     float64
 40  Community_Volunteer_Hours_Per_Employee                60 non-null     float64
 41  ESG_Score_Average                                     60 non-null     float64
 42  Board_Independence_Percent                            60 non-null     float64
 43  Board_Percent_Female                                  60 non-null     float64
 44  Board_Percent_Minority                                60 non-null     float64
 45  Board_Age_Avg                                         60 non-null     float64
 46  Anti_Corruption_Incidents                             60 non-null     int64
 47  Whistleblower_Cases                                   60 non-null     int64
dtypes: float64(42), int64(5), object(1)
memory usage: 22.6+ KB

Company
Nucor               15
US Steel            15
Cleveland Cliffs    15
Steel Dynamics      15
Name: count, dtype: int64

Note: Three of the columns are missing one value each. To fix this issue, we can use the standard method of replacing missing values with the mean.

In [5]:
#Three columns missing values
Missing_Values_Columns = ['Water_Recycled_Percent', 'NOx_Emissions_Tonnes', 'Injury_Rate_Per_100_Employees']

#Fill missing values with the mean
for col in Missing_Values_Columns:
    df[col].fillna(df[col].mean(), inplace=True)
    
print("Missing values filled using the mean")

Missing values filled using the mean

### Everything looks great, export to csv and move on to Stage 4

In [6]:
df.to_csv("Steel_Stage_4.csv", index=False)

print("Export complete")

Export complete

<br>
Author: Kevin Pordon - MBA